lib/flows/eWine-orchestrator.json
[{"id":"6e08971c.5ae328","type":"tab","label":"temperature"},{"id":"6ca18236.44e7bc","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3cd80e9f.d9bab2","type":"ds18b20","z":"6e08971c.5ae328","name":"temperature","sensorid":"28-04168471a4ff","timer":"0.05","x":179.5,"y":109,"wires":[["fa7b7c87.eaf1e"]]},{"id":"9af3c361.7258c","type":"mqtt out","z":"6e08971c.5ae328","name":"publisher","topic":"temperature","qos":"1","retain":"false","broker":"6ca18236.44e7bc","x":225.5,"y":217,"wires":[]},{"id":"c6f1f2a9.3ced","type":"mqtt in","z":"6e08971c.5ae328","name":"subscriber","topic":"temperature","qos":"1","broker":"6ca18236.44e7bc","x":570.5,"y":177,"wires":[["1453c488.4910cb"]]},{"id":"b6b61c87.0930f","type":"debug","z":"6e08971c.5ae328","name":"","active":true,"console":"false","complete":"true","x":539.5,"y":417,"wires":[]},{"id":"1453c488.4910cb","type":"batcher","z":"6e08971c.5ae328","name":"","maxTopics":1,"maxMessagesPerTopic":"10","maxDelay":-1,"x":282.5,"y":365,"wires":[["b6b61c87.0930f"]]},{"id":"fa7b7c87.eaf1e","type":"function","z":"6e08971c.5ae328","name":"add timestamp","func":"msg.payload = 't:' + msg.payload + ',s:' + new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":488.5,"y":53,"wires":[["9af3c361.7258c"]]}]