lib/flows/eWine-orchestrator.json
[{"id":"5553381b.ce0098","type":"tab","label":"eWine-orchestrator","disabled":false,"info":""},{"id":"be8a0902.f0ab98","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b2367ffe.ec095","type":"ds18b20","z":"5553381b.ce0098","name":"temperature","sensorid":"28-04168471a4ff","timer":"1","x":109,"y":40,"wires":[["ff81d48f.8be628"]]},{"id":"cd604d1d.33b9c","type":"mqtt out","z":"5553381b.ce0098","name":"publisher","topic":"temperature","qos":"1","retain":"false","broker":"be8a0902.f0ab98","x":115,"y":171,"wires":[]},{"id":"2e7cca26.f583c6","type":"mqtt in","z":"5553381b.ce0098","name":"subscriber","topic":"temperature","qos":"1","broker":"be8a0902.f0ab98","x":107,"y":262,"wires":[["d811ab33.0253b8"]]},{"id":"d811ab33.0253b8","type":"batcher","z":"5553381b.ce0098","name":"","maxTopics":1,"maxMessagesPerTopic":"10","maxDelay":-1,"x":110,"y":350,"wires":[["76f8d656.f87cb8"]]},{"id":"ff81d48f.8be628","type":"function","z":"5553381b.ce0098","name":"add timestamp","func":"\nmsg.payload = {\n    timestamp: new Date().getTime(),\n    value: msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":112,"y":103,"wires":[["cd604d1d.33b9c"]]},{"id":"bc8b36b3.25f828","type":"function","z":"5553381b.ce0098","name":"add api key","func":"msg.payload = {};\nmsg.headers = {};\nmsg.headers['X-api-key'] = flow.get('apikey');\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":350,"wires":[["30e7601e.e95c2"]]},{"id":"30e7601e.e95c2","type":"http request","z":"5553381b.ce0098","name":"enable Wi-Fi","method":"POST","ret":"obj","url":"127.0.0.1:5000/enable/wlan0","tls":"","x":360,"y":410,"wires":[["97652429.76c0f8"]]},{"id":"76f8d656.f87cb8","type":"change","z":"5553381b.ce0098","name":"store apikey","rules":[{"t":"set","p":"apikey","pt":"flow","to":"afe7c8e54cbffde8c090a407df54c920fe7321ca","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":410,"wires":[["b2a24ec3.a8681"]]},{"id":"97652429.76c0f8","type":"switch","z":"5553381b.ce0098","name":"check enabled","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":370,"y":470,"wires":[["a9b7f475.5742a8","7341e36e.e0afbc"],["609482c9.0eb69c"]]},{"id":"e1f776c7.c2e1a8","type":"http request","z":"5553381b.ce0098","name":"connect Wi-Fi","method":"POST","ret":"obj","url":"127.0.0.1:5000/connect/wlan0:Telecom-86623587","tls":"","x":610,"y":410,"wires":[["7ad990a2.4b717"]]},{"id":"7ad990a2.4b717","type":"switch","z":"5553381b.ce0098","name":"check connected","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":620,"y":470,"wires":[["ad0cb7da.0202b8","ca613ea.7017ac"],["dd0044fa.75a9f8"]]},{"id":"668665.a35cf99c","type":"debug","z":"5553381b.ce0098","name":"output","active":true,"console":"false","complete":"true","x":860,"y":730,"wires":[]},{"id":"ad0cb7da.0202b8","type":"debug","z":"5553381b.ce0098","name":"connect ok","active":true,"console":"false","complete":"payload","x":600,"y":590,"wires":[]},{"id":"dd0044fa.75a9f8","type":"debug","z":"5553381b.ce0098","name":"connect failed","active":true,"console":"false","complete":"payload","x":610,"y":630,"wires":[]},{"id":"a9b7f475.5742a8","type":"debug","z":"5553381b.ce0098","name":"enable ok","active":true,"console":"false","complete":"payload","x":350,"y":590,"wires":[]},{"id":"609482c9.0eb69c","type":"debug","z":"5553381b.ce0098","name":"enable failed","active":true,"console":"false","complete":"payload","x":360,"y":630,"wires":[]},{"id":"7341e36e.e0afbc","type":"function","z":"5553381b.ce0098","name":"add api key","func":"msg.payload = {};\nmsg.headers = {};\nmsg.headers['X-api-key'] = flow.get('apikey');\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":350,"wires":[["e1f776c7.c2e1a8"]]},{"id":"5f760f4c.a62c1","type":"http request","z":"5553381b.ce0098","name":"disable Wi-Fi","method":"POST","ret":"obj","url":"127.0.0.1:5000/disable/wlan0","tls":"","x":860,"y":410,"wires":[["dffede07.8bd1e"]]},{"id":"1dacff40.b720c1","type":"debug","z":"5553381b.ce0098","name":"disable ok","active":true,"console":"false","complete":"payload","x":860,"y":590,"wires":[]},{"id":"6972272c.2e5088","type":"debug","z":"5553381b.ce0098","name":"disable failed","active":true,"console":"false","complete":"payload","x":860,"y":630,"wires":[]},{"id":"dffede07.8bd1e","type":"switch","z":"5553381b.ce0098","name":"check disabled","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":870.5,"y":472,"wires":[["1dacff40.b720c1"],["6972272c.2e5088"]]},{"id":"a2b704ba.36f4f8","type":"function","z":"5553381b.ce0098","name":"add api key","func":"msg.payload = {};\nmsg.headers = {};\nmsg.headers['X-api-key'] = flow.get('apikey');\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":350,"wires":[["5f760f4c.a62c1"]]},{"id":"b2a24ec3.a8681","type":"function","z":"5553381b.ce0098","name":"batch produce","func":"var queue = flow.get('queue') || [];\nqueue.push({\n    payload: msg.payload,\n    topic: msg.topic\n});\nflow.set('queue', queue);\nreturn msg;","outputs":1,"noerr":0,"x":129,"y":471,"wires":[["bc8b36b3.25f828"]]},{"id":"ca613ea.7017ac","type":"function","z":"5553381b.ce0098","name":"batch consume","func":"var queue = flow.get('queue');\nif (queue.length > 0) {\n    var msg = queue.shift();\n    flow.set('queue', queue);\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":610,"y":530,"wires":[["a2b704ba.36f4f8","668665.a35cf99c"]]}]