lib/flows/orchestrator-D2D.json
[
    {
        "id": "2d24f03b.b9c7b",
        "type": "tab",
        "label": "orchestrator-D2D",
        "disabled": false,
        "info": ""
    },
    {
        "id": "be8a0902.f0ab98",
        "type": "mqtt-broker",
        "z": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "4d5b8bda.a62cd4",
        "type": "mqtt out",
        "z": "2d24f03b.b9c7b",
        "name": "publisher",
        "topic": "temperature",
        "qos": "1",
        "retain": "false",
        "broker": "be8a0902.f0ab98",
        "x": 170,
        "y": 340,
        "wires": []
    },
    {
        "id": "1215437a.99e6ed",
        "type": "mqtt in",
        "z": "2d24f03b.b9c7b",
        "name": "subscriber",
        "topic": "temperature",
        "qos": "1",
        "broker": "be8a0902.f0ab98",
        "x": 500,
        "y": 220,
        "wires": [
            [
                "5866a7e.5fae558"
            ]
        ]
    },
    {
        "id": "5866a7e.5fae558",
        "type": "batcher",
        "z": "2d24f03b.b9c7b",
        "name": "",
        "maxTopics": 1,
        "maxMessagesPerTopic": "6",
        "maxDelay": "120000",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "8aca6118.64d78",
                "4caa5fe8.1ef5d"
            ]
        ]
    },
    {
        "id": "1b7477c7.2868d8",
        "type": "function",
        "z": "2d24f03b.b9c7b",
        "name": "add timestamp and GPS",
        "func": "var temp = msg.payload;\nflow.set('latitude','41.7');\nflow.set('longitude','8.9');\n\nmsg.payload=null;\nmsg.payload = {\n    tstamp: new Date().getTime(),\n    data: temp,\n    lat: flow.get('latitude'),\n    long: flow.get('longitude')\n//    ak:flow.get('apikey')\n}\ntemp=null;\n\n//var w = window.open(\"http://localhost:1880/dash\", 'name', 'width=200,height=200'); w.onload = w.print; w.focus();\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "4d5b8bda.a62cd4",
                "b52e51b5.1bd65"
            ]
        ]
    },
    {
        "id": "4caa5fe8.1ef5d",
        "type": "debug",
        "z": "2d24f03b.b9c7b",
        "name": "batch msg",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "8aca6118.64d78",
        "type": "file",
        "z": "2d24f03b.b9c7b",
        "name": "SCAMPI file",
        "filename": "/home/pi/Scampi App Developer Package 0.4.1b/bin/java/FileTransfer/files/sensor-data.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 490,
        "y": 380,
        "wires": []
    },
    {
        "id": "64a8c25a.ee6fac",
        "type": "file",
        "z": "2d24f03b.b9c7b",
        "name": "delete SCAMPI file",
        "filename": "/home/pi/Scampi App Developer Package 0.4.1b/bin/java/FileTransfer/files/sensor-data.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "3a816017.34c0a",
        "type": "inject",
        "z": "2d24f03b.b9c7b",
        "name": "delete file",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "64a8c25a.ee6fac"
            ]
        ]
    },
    {
        "id": "3606efb0.2cb44",
        "type": "rpi-ds18b20",
        "z": "2d24f03b.b9c7b",
        "topic": "FFA471841604",
        "array": false,
        "name": "",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "1b7477c7.2868d8"
            ]
        ]
    },
    {
        "id": "ba179282.2991a",
        "type": "inject",
        "z": "2d24f03b.b9c7b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "3606efb0.2cb44"
            ]
        ]
    },
    {
        "id": "c55ab27b.82a5b",
        "type": "http in",
        "z": "2d24f03b.b9c7b",
        "name": "get",
        "url": "/print",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 159,
        "y": 562,
        "wires": [
            [
                "4791bea0.f3c05"
            ]
        ]
    },
    {
        "id": "bba2d9d1.eecdb8",
        "type": "http response",
        "z": "2d24f03b.b9c7b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 503,
        "y": 545,
        "wires": []
    },
    {
        "id": "4791bea0.f3c05",
        "type": "template",
        "z": "2d24f03b.b9c7b",
        "name": "webpage",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n\n<html>\n    <head>\n        \n        \n    </head>\n    <body>\n        Timestamp: {{msg.payload[0].tstamp}} <p/>\n        Temperature: {{msg.payload[0].data}}\n        <script>\n            window.onload = window.print();\n        </script>\n        \n    </body>\n</html>",
        "output": "str",
        "x": 355,
        "y": 595,
        "wires": [
            [
                "bba2d9d1.eecdb8"
            ]
        ]
    },
    {
        "id": "b52e51b5.1bd65",
        "type": "iot-datasource",
        "z": "2d24f03b.b9c7b",
        "name": "graph",
        "tstampField": "",
        "dataField": "",
        "disableDiscover": false,
        "x": 319,
        "y": 359,
        "wires": [
            []
        ]
    }
]