lib/flows/orchestrator-D2D.json
[
    {
        "id": "2d24f03b.b9c7b",
        "type": "tab",
        "label": "orchestrator-D2D",
        "disabled": false,
        "info": ""
    },
    {
        "id": "be8a0902.f0ab98",
        "type": "mqtt-broker",
        "z": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "4d5b8bda.a62cd4",
        "type": "mqtt out",
        "z": "2d24f03b.b9c7b",
        "name": "publisher",
        "topic": "temperature",
        "qos": "1",
        "retain": "false",
        "broker": "be8a0902.f0ab98",
        "x": 170,
        "y": 340,
        "wires": []
    },
    {
        "id": "1215437a.99e6ed",
        "type": "mqtt in",
        "z": "2d24f03b.b9c7b",
        "name": "subscriber",
        "topic": "temperature",
        "qos": "1",
        "broker": "be8a0902.f0ab98",
        "x": 500,
        "y": 220,
        "wires": [
            [
                "5866a7e.5fae558"
            ]
        ]
    },
    {
        "id": "5866a7e.5fae558",
        "type": "batcher",
        "z": "2d24f03b.b9c7b",
        "name": "",
        "maxTopics": 1,
        "maxMessagesPerTopic": "1",
        "maxDelay": "120000",
        "x": 500,
        "y": 280,
        "wires": [
            [
                "4caa5fe8.1ef5d",
                "901d8b4b.735638",
                "8aca6118.64d78",
                "50c1427.ddab9bc"
            ]
        ]
    },
    {
        "id": "1b7477c7.2868d8",
        "type": "function",
        "z": "2d24f03b.b9c7b",
        "name": "add timestamp",
        "func": "var temp = msg.payload;\n\nmsg.payload=null;\nmsg.payload = {\n    tstamp: new Date().getTime(),\n    temp: temp,\n    humidity:msg.humidity\n    }\ntemp=null;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "4d5b8bda.a62cd4"
            ]
        ]
    },
    {
        "id": "4caa5fe8.1ef5d",
        "type": "debug",
        "z": "2d24f03b.b9c7b",
        "name": "batch msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "8aca6118.64d78",
        "type": "file",
        "z": "2d24f03b.b9c7b",
        "name": "json file for SCAMPI",
        "filename": "/home/pi/eWine-orchestrator/sensor-data.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "64a8c25a.ee6fac",
        "type": "file",
        "z": "2d24f03b.b9c7b",
        "name": "delete SCAMPI file",
        "filename": "/home/pi/Scampi App Developer Package 0.4.1b/bin/java/FileTransfer/files/temperature_images/sensor-data.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "delete",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "3a816017.34c0a",
        "type": "inject",
        "z": "2d24f03b.b9c7b",
        "name": "delete file",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 500,
        "y": 80,
        "wires": [
            [
                "64a8c25a.ee6fac"
            ]
        ]
    },
    {
        "id": "ba179282.2991a",
        "type": "inject",
        "z": "2d24f03b.b9c7b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "1ad47136.38e81f"
            ]
        ]
    },
    {
        "id": "b52e51b5.1bd65",
        "type": "iot-datasource",
        "z": "2d24f03b.b9c7b",
        "name": "graph temp",
        "tstampField": "",
        "dataField": "temp",
        "disableDiscover": false,
        "x": 930,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "1ad47136.38e81f",
        "type": "rpi-dht22",
        "z": "2d24f03b.b9c7b",
        "name": "humidity+temperature sensor",
        "topic": "rpi-dht11",
        "dht": "11",
        "pintype": "0",
        "pin": "17",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "1b7477c7.2868d8"
            ]
        ]
    },
    {
        "id": "ca8920cf.873f",
        "type": "iot-datasource",
        "z": "2d24f03b.b9c7b",
        "name": "graph humidity",
        "tstampField": "",
        "dataField": "humidity",
        "disableDiscover": false,
        "x": 1060,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "50c1427.ddab9bc",
        "type": "exec",
        "z": "2d24f03b.b9c7b",
        "command": "/usr/bin/sudo",
        "addpay": false,
        "append": "sh /home/pi/eWine-orchestrator/bash_files/scp_json.sh",
        "useSpawn": "false",
        "timer": "10",
        "oldrc": false,
        "name": "",
        "x": 840,
        "y": 220,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "901d8b4b.735638",
        "type": "function",
        "z": "2d24f03b.b9c7b",
        "name": "split temp and hdt data",
        "func": "msg.payload = JSON.parse(msg.payload[0]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 340,
        "wires": [
            [
                "b52e51b5.1bd65",
                "ca8920cf.873f"
            ]
        ]
    }
]