lib/flows/orchestrator.json
[
    {
        "id": "5553381b.ce0098",
        "type": "tab",
        "label": "orchestrator",
        "disabled": false,
        "info": ""
    },
    {
        "id": "51087d13.23b624",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5299fbad.e61c44",
        "type": "subflow",
        "name": "Persistence Helper",
        "info": "",
        "in": [
            {
                "x": 45.5,
                "y": 85,
                "wires": [
                    {
                        "id": "81773c5c.498b4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 749.5,
                "y": 53,
                "wires": [
                    {
                        "id": "c78444c5.654a78",
                        "port": 0
                    }
                ]
            },
            {
                "x": 755,
                "y": 169,
                "wires": [
                    {
                        "id": "2a9be3f.5c83c1c",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "be8a0902.f0ab98",
        "type": "mqtt-broker",
        "z": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "ca9d992d.cacdc8",
        "type": "nodebot",
        "z": 0,
        "name": "",
        "username": "",
        "password": "",
        "boardType": "raspi-io",
        "serialportName": "",
        "connectionType": "local",
        "mqttServer": "",
        "socketServer": "",
        "pubTopic": "",
        "subTopic": "",
        "tcpHost": "",
        "tcpPort": "",
        "sparkId": "",
        "sparkToken": "",
        "beanId": "",
        "impId": "",
        "meshbluServer": "https://meshblu.octoblu.com",
        "uuid": "",
        "token": "",
        "sendUuid": ""
    },
    {
        "id": "89bc95ac.95424",
        "type": "ui_group",
        "z": "51087d13.23b624",
        "name": "Default",
        "tab": "5881982.df32ae8",
        "disp": true,
        "width": "6"
    },
    {
        "id": "5881982.df32ae8",
        "type": "ui_tab",
        "z": "51087d13.23b624",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "f4b258ec.dfa26",
        "type": "ui_group",
        "z": "",
        "name": "Chart with integer X axis",
        "tab": "2a4c27e9.bd8ba8",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "2a4c27e9.bd8ba8",
        "type": "ui_tab",
        "z": "",
        "name": "Chart.js example",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "cd604d1d.33b9c",
        "type": "mqtt out",
        "z": "5553381b.ce0098",
        "name": "publisher",
        "topic": "temperature",
        "qos": "1",
        "retain": "false",
        "broker": "be8a0902.f0ab98",
        "x": 126.25004196166992,
        "y": 298.5000514984131,
        "wires": []
    },
    {
        "id": "2e7cca26.f583c6",
        "type": "mqtt in",
        "z": "5553381b.ce0098",
        "name": "subscriber",
        "topic": "temperature",
        "qos": "1",
        "broker": "be8a0902.f0ab98",
        "x": 118.25004196166992,
        "y": 389.5000514984131,
        "wires": [
            [
                "d811ab33.0253b8"
            ]
        ]
    },
    {
        "id": "d811ab33.0253b8",
        "type": "batcher",
        "z": "5553381b.ce0098",
        "name": "",
        "maxTopics": 1,
        "maxMessagesPerTopic": "6",
        "maxDelay": "120000",
        "x": 131.25004196166992,
        "y": 467.5000514984131,
        "wires": [
            [
                "b2a24ec3.a8681"
            ]
        ]
    },
    {
        "id": "ff81d48f.8be628",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "add timestamp and gps",
        "func": "var temp = msg.payload;\nflow.set('latitude','41.7');\nflow.set('longitude','8.9');\n\nmsg.payload=null;\nmsg.payload = {\n    timestamp: new Date().getTime(),\n    value: temp,\n    lat: flow.get('latitude'),\n    long: flow.get('longitude')\n//    ak:flow.get('apikey')\n}\n\ntemp=null;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 153.25004196166992,
        "y": 230.5000514984131,
        "wires": [
            [
                "cd604d1d.33b9c"
            ]
        ]
    },
    {
        "id": "bc8b36b3.25f828",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "header api-key",
        "func": "msg.payload = {};\nmsg.headers= {\n               'x-api-key': flow.get('apikey'),\n               'content-type': 'application/json'\n            };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 460,
        "wires": [
            [
                "30e7601e.e95c2"
            ]
        ]
    },
    {
        "id": "30e7601e.e95c2",
        "type": "http request",
        "z": "5553381b.ce0098",
        "name": "enable Wi-Fi",
        "method": "POST",
        "ret": "obj",
        "url": "127.0.0.1:5000/enable/wlan0",
        "tls": "",
        "x": 381.2500419616699,
        "y": 527.5000514984131,
        "wires": [
            [
                "97652429.76c0f8"
            ]
        ]
    },
    {
        "id": "97652429.76c0f8",
        "type": "switch",
        "z": "5553381b.ce0098",
        "name": "Wi-Fi  enabled?",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 391.2500419616699,
        "y": 587.5000514984131,
        "wires": [
            [
                "97e96302.307ba",
                "424666a8.39a5d8"
            ],
            [
                "df3c7cc0.e99be"
            ]
        ]
    },
    {
        "id": "e1f776c7.c2e1a8",
        "type": "http request",
        "z": "5553381b.ce0098",
        "name": "connect Wi-Fi",
        "method": "POST",
        "ret": "obj",
        "url": "127.0.0.1:5000/connect/wlan0:{{{availableWifi}}}:{{{latitude}}}:{{{longitude}}}",
        "tls": "",
        "x": 1320,
        "y": 540,
        "wires": [
            [
                "7ad990a2.4b717"
            ]
        ]
    },
    {
        "id": "7ad990a2.4b717",
        "type": "switch",
        "z": "5553381b.ce0098",
        "name": "check 200",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 1323,
        "y": 597,
        "wires": [
            [
                "d9ab7824.7c6578",
                "1d5ced75.04ef73"
            ],
            [
                "5fb30a10.65c834",
                "a2b704ba.36f4f8"
            ]
        ]
    },
    {
        "id": "5f760f4c.a62c1",
        "type": "http request",
        "z": "5553381b.ce0098",
        "name": "disable Wi-Fi",
        "method": "POST",
        "ret": "obj",
        "url": "127.0.0.1:5000/disable/wlan0",
        "tls": "",
        "x": 1950,
        "y": 780,
        "wires": [
            [
                "dffede07.8bd1e"
            ]
        ]
    },
    {
        "id": "dffede07.8bd1e",
        "type": "switch",
        "z": "5553381b.ce0098",
        "name": "check 200",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1950.5,
        "y": 842,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a2b704ba.36f4f8",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "setup msg",
        "func": "msg.payload = {};\nmsg.headers = {};\nmsg.headers['X-Api-Key'] = flow.get('apikey');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1950,
        "y": 720,
        "wires": [
            [
                "5f760f4c.a62c1"
            ]
        ]
    },
    {
        "id": "b2a24ec3.a8681",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "batch store",
        "func": "var queue = flow.get('queue') || [];\nqueue.push({\n    topic: msg.topic,\n    payload: msg.payload,\n    _msgid: msg._msgid\n});\nflow.set('queue', queue);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 132.25004196166992,
        "y": 526.5000514984131,
        "wires": [
            [
                "9b4c9ca9.8a306",
                "1dad59e5.7aa8c6"
            ]
        ]
    },
    {
        "id": "9b4c9ca9.8a306",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "batch msg",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 110,
        "y": 600,
        "wires": []
    },
    {
        "id": "db98f2fe.5d268",
        "type": "http request",
        "z": "5553381b.ce0098",
        "name": "available network",
        "method": "GET",
        "ret": "obj",
        "url": "127.0.0.1:5000/available/wlan0",
        "tls": "",
        "x": 650,
        "y": 520,
        "wires": [
            [
                "ed0a2369.3f3db",
                "da1c2ddb.99ac1"
            ]
        ]
    },
    {
        "id": "558db50e.94048c",
        "type": "switch",
        "z": "5553381b.ce0098",
        "name": "wifi available?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 700,
        "y": 640,
        "wires": [
            [
                "4b9168f5.fdcd08",
                "4fb06697.9d7f68"
            ],
            [
                "1c015831.a56688",
                "3ce10943.809156"
            ]
        ]
    },
    {
        "id": "ed0a2369.3f3db",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "setup msg",
        "func": "// set available Wi-Fi network\n//node.warn(\"code: \"+msg.statusCode);\n//if (msg.payload.code != 200) {\nif (msg.statusCode == 200) {\n    msg.availableWifi = msg.payload.message;\n    flow.set('availableWifi', msg.payload.message);\n    msg.availableLTE = 404;\n    flow.set('availableLTE', '404');\n    \n    //msg.availableWifi = null;\n    //flow.set('availableWifi', null);\n    //msg.availableLTE = msg.payload;\n    //flow.set('availableLTE', msg.payload);\n} else {\n    msg.availableWifi = null;\n    flow.set('availableWifi', null);\n    msg.availableLTE = 200;\n    flow.set('availableLTE', '200');\n    \n}\n\n// set location\n//msg.payload.latitude = flow.get('latitude');\n//msg.payload.longitude = flow.get('longitude');\n\n// set API key\n//msg.payload = {};\nmsg.headers= {\n               'x-api-key': flow.get('apikey'),\n               'content-type': 'application/json'\n            };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 580,
        "wires": [
            [
                "558db50e.94048c"
            ]
        ]
    },
    {
        "id": "40a2c3c.79b7d3c",
        "type": "inject",
        "z": "5553381b.ce0098",
        "name": "print queue",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "fdca9bb9.f673c8"
            ]
        ]
    },
    {
        "id": "9ccac88a.500e78",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "flow.queue",
        "active": false,
        "console": "false",
        "complete": "queue",
        "x": 816,
        "y": 200,
        "wires": []
    },
    {
        "id": "fdca9bb9.f673c8",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "copy queue",
        "func": "msg.queue = flow.get('queue') || [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "9ccac88a.500e78"
            ]
        ]
    },
    {
        "id": "2b5f7ad1.3135d6",
        "type": "inject",
        "z": "5553381b.ce0098",
        "name": "inject apikey",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 441,
        "y": 78,
        "wires": [
            [
                "b9358c08.7e1ee"
            ]
        ]
    },
    {
        "id": "f5d31f70.92efd",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "flow.apikey",
        "active": false,
        "console": "false",
        "complete": "apikey",
        "x": 992,
        "y": 78,
        "wires": []
    },
    {
        "id": "eb0adea4.bc71a",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "copy apikey",
        "func": "msg.apikey = flow.get('apikey');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 813,
        "y": 78,
        "wires": [
            [
                "f5d31f70.92efd"
            ]
        ]
    },
    {
        "id": "b2b11413.5619c8",
        "type": "inject",
        "z": "5553381b.ce0098",
        "name": "inject GPS",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 441,
        "y": 119,
        "wires": [
            [
                "8f37437f.28a54"
            ]
        ]
    },
    {
        "id": "8f37437f.28a54",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "set location",
        "func": "flow.set('latitude', 45.8311206);\nflow.set('longitude', 9.043277999999999);\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "cd7a8055.39a3f",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "distance",
        "func": "function degreesToRadians(degrees) {\n  return degrees * Math.PI / 180;\n}\n\nfunction distanceInKm(lat1, lon1, lat2, lon2) {\n    var earthRadiusKm = 6371;\n\n    var dLat = degreesToRadians(lat2-lat1);\n    var dLon = degreesToRadians(lon2-lon1);\n    \n    lat1 = degreesToRadians(lat1);\n    lat2 = degreesToRadians(lat2);\n    \n    var a = Math.sin(dLat/2) * Math.sin(dLat/2) + \n            Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2);\n    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n    \n    return earthRadiusKm * c;\n}\n\nvar min_dist = 100;\nvar networks = msg.payload.message;\nnode.warn(\"networks\" + JSON.stringify(networks));\nfor (var i = 0; i < networks.length; i++) {\n    var net = networks[i];\n    var dist = distanceInKm(msg.latitude, msg.longitude, net.lat, net.lng);\n    if (dist < min_dist) {\n        min_dist = dist;\n    }\n}\n\nnode.warn(\"minimum distance Km \" + min_dist);\n\nvar timeout = flow.get('timeout');\n\nif (min_dist < 3 && !timeout) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n",
        "outputs": "2",
        "noerr": 0,
        "x": 1540,
        "y": 820,
        "wires": [
            [
                "8ac9de3e.0d25e"
            ],
            [
                "77c0ea16.b077d4"
            ]
        ]
    },
    {
        "id": "3ce10943.809156",
        "type": "http request",
        "z": "5553381b.ce0098",
        "name": "stored networks",
        "method": "GET",
        "ret": "obj",
        "url": "127.0.0.1:5000/networks/db",
        "tls": "",
        "x": 1320,
        "y": 800,
        "wires": [
            [
                "3b58ef11.17c95"
            ]
        ]
    },
    {
        "id": "4fb06697.9d7f68",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "reset timer",
        "func": "clearTimeout(flow.get('timerID'));\nflow.set('timeout', false);\nflow.set('timerID', null);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1320.5,
        "y": 480,
        "wires": [
            [
                "e1f776c7.c2e1a8"
            ]
        ]
    },
    {
        "id": "77c0ea16.b077d4",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "reset timer",
        "func": "clearTimeout(flow.get('timerID'));\nflow.set('timeout', false);\nflow.set('timerID', null);\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 1730,
        "y": 880,
        "wires": [
            [
                "ecb8e316.824af"
            ]
        ]
    },
    {
        "id": "8ac9de3e.0d25e",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "set timer",
        "func": "timerID = flow.get('timerID') || setTimeout(function() {\n    flow.set('timeout', true);\n}, 120000);\nflow.set('timerID', timerID);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1720,
        "y": 760,
        "wires": [
            [
                "a2b704ba.36f4f8"
            ]
        ]
    },
    {
        "id": "d0b00129.8de77",
        "type": "inject",
        "z": "5553381b.ce0098",
        "name": "print timer",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 439.5,
        "y": 239,
        "wires": [
            [
                "b8baddb8.aa1f5"
            ]
        ]
    },
    {
        "id": "b8baddb8.aa1f5",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "copy timer",
        "func": "msg.timerID = flow.get('timerID');\nmsg.timeout = flow.get('timeout');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 629,
        "y": 240,
        "wires": [
            [
                "e68637ea.e96548"
            ]
        ]
    },
    {
        "id": "e68637ea.e96548",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "flow.timer",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 806,
        "y": 240,
        "wires": []
    },
    {
        "id": "d9ab7824.7c6578",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "batch read",
        "func": "var queue = flow.get('queue');\nif (queue.length > 0) {\n    var lastmsg = queue.shift();\n    flow.set('queue', queue);\n    return lastmsg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1565.74995803833,
        "y": 485.4999485015869,
        "wires": [
            [
                "8004782a.46bef8"
            ]
        ]
    },
    {
        "id": "50339e5.c76706",
        "type": "switch",
        "z": "5553381b.ce0098",
        "name": "queue length",
        "property": "queue.length",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1665.74995803833,
        "y": 605.4999485015869,
        "wires": [
            [
                "d9ab7824.7c6578"
            ],
            [
                "a2b704ba.36f4f8"
            ]
        ]
    },
    {
        "id": "3b58ef11.17c95",
        "type": "switch",
        "z": "5553381b.ce0098",
        "name": "check 200",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 1330,
        "y": 860,
        "wires": [
            [
                "cd7a8055.39a3f",
                "4b2853cc.3c74cc"
            ],
            [
                "28db4e29.b375d2"
            ]
        ]
    },
    {
        "id": "8004782a.46bef8",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "batch send",
        "func": "node.warn(\"sent over Wi-Fi: \" + flow.get('availableWifi'));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1745.74995803833,
        "y": 485.4999485015869,
        "wires": [
            [
                "50339e5.c76706",
                "9adfa625.6c5968"
            ]
        ]
    },
    {
        "id": "9adfa625.6c5968",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "Wi-Fi sent msg",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1955.74995803833,
        "y": 485.4999485015869,
        "wires": []
    },
    {
        "id": "6ca9b21e.3db90c",
        "type": "http request",
        "z": "5553381b.ce0098",
        "name": "disable Wi-Fi",
        "method": "POST",
        "ret": "obj",
        "url": "127.0.0.1:5000/disable/wlan0",
        "tls": "",
        "x": 1950,
        "y": 960,
        "wires": [
            [
                "d3bc0397.8f2a5"
            ]
        ]
    },
    {
        "id": "d3bc0397.8f2a5",
        "type": "switch",
        "z": "5553381b.ce0098",
        "name": "check 200",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1950.5,
        "y": 1022,
        "wires": [
            [
                "84ae4db0.3abd6"
            ],
            []
        ]
    },
    {
        "id": "ecb8e316.824af",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "setup msg",
        "func": "msg.payload = {};\nmsg.headers = {};\nmsg.headers['X-Api-Key'] = flow.get('apikey');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1950,
        "y": 900,
        "wires": [
            [
                "6ca9b21e.3db90c"
            ]
        ]
    },
    {
        "id": "5c3f45b9.1a333c",
        "type": "switch",
        "z": "5553381b.ce0098",
        "name": "queue length",
        "property": "queue.length",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 1590,
        "y": 1340,
        "wires": [
            [
                "4461e94e.070ae8"
            ],
            [
                "b0f58244.13f3d"
            ]
        ]
    },
    {
        "id": "4461e94e.070ae8",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "batch read",
        "func": "var queue = flow.get('queue');\nif (queue.length > 0) {\n    var lastmsg = queue.shift();\n    flow.set('queue', queue);\n    return lastmsg;\n} else {\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1490,
        "y": 1220,
        "wires": [
            [
                "35accc6d.dc21a4"
            ]
        ]
    },
    {
        "id": "35accc6d.dc21a4",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "batch send",
        "func": "//node.warn(\"sent over LTE\");\nnode.warn(\"sent over LTE: \" + JSON.stringify(flow.get('availableLTE')));\n//node.warn(\"sent over LTE: \" + msg.payload[0]);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1690,
        "y": 1220,
        "wires": [
            [
                "5c3f45b9.1a333c",
                "591268ef.42be58"
            ]
        ]
    },
    {
        "id": "84ae4db0.3abd6",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "connect LTE",
        "func": "node.warn(\"connect LTE\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1270,
        "y": 1280,
        "wires": [
            [
                "4461e94e.070ae8"
            ]
        ]
    },
    {
        "id": "b0f58244.13f3d",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "disable LTE",
        "func": "node.warn(\"disable LTE\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1830,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "591268ef.42be58",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "LTE sent msg",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1940,
        "y": 1220,
        "wires": []
    },
    {
        "id": "8469a381.0741",
        "type": "rpi-ds18b20",
        "z": "5553381b.ce0098",
        "topic": "FFA471841604",
        "array": false,
        "name": "Temp. sensor ",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "ff81d48f.8be628"
            ]
        ]
    },
    {
        "id": "4903a308.239fdc",
        "type": "inject",
        "z": "5553381b.ce0098",
        "name": "temp interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "8469a381.0741"
            ]
        ]
    },
    {
        "id": "df3c7cc0.e99be",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "debug enable wifi ko",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 432,
        "y": 668,
        "wires": []
    },
    {
        "id": "1c015831.a56688",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "enable avbl network ko",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 730,
        "y": 700,
        "wires": []
    },
    {
        "id": "97e96302.307ba",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "debug enable wif ok",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 420,
        "y": 720,
        "wires": []
    },
    {
        "id": "4b9168f5.fdcd08",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "debug avbl net ok",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 720,
        "y": 760,
        "wires": []
    },
    {
        "id": "1d5ced75.04ef73",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "check 200 ok",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1320,
        "y": 640,
        "wires": []
    },
    {
        "id": "5fb30a10.65c834",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "check 200 ko",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1320,
        "y": 680,
        "wires": []
    },
    {
        "id": "4b2853cc.3c74cc",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "check 200 ok",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1320,
        "y": 920,
        "wires": []
    },
    {
        "id": "28db4e29.b375d2",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "check 200 ko",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1320,
        "y": 960,
        "wires": []
    },
    {
        "id": "1dad59e5.7aa8c6",
        "type": "change",
        "z": "5553381b.ce0098",
        "name": "set apikey",
        "rules": [
            {
                "t": "set",
                "p": "apikey",
                "pt": "flow",
                "to": " a880331bdd1e5f882a37865e126e779196ee0007",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 400,
        "wires": [
            [
                "bc8b36b3.25f828"
            ]
        ]
    },
    {
        "id": "424666a8.39a5d8",
        "type": "function",
        "z": "5553381b.ce0098",
        "name": "header api-key",
        "func": "msg.payload = {};\nmsg.headers= {\n               'x-api-key': flow.get('apikey'),\n               'content-type': 'application/json'\n            };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 460,
        "wires": [
            [
                "db98f2fe.5d268"
            ]
        ]
    },
    {
        "id": "b9358c08.7e1ee",
        "type": "change",
        "z": "5553381b.ce0098",
        "name": "store apikey",
        "rules": [
            {
                "t": "set",
                "p": "apikey",
                "pt": "flow",
                "to": "42680d9c1db281e133c82b2ebc60f113b9574325",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 641,
        "y": 78,
        "wires": [
            [
                "eb0adea4.bc71a"
            ]
        ]
    },
    {
        "id": "da1c2ddb.99ac1",
        "type": "debug",
        "z": "5553381b.ce0098",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 906,
        "y": 405,
        "wires": []
    },
    {
        "id": "c78444c5.654a78",
        "type": "change",
        "z": "5299fbad.e61c44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "restore",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 589.5,
        "y": 53,
        "wires": [
            []
        ]
    },
    {
        "id": "81773c5c.498b4",
        "type": "json",
        "z": "5299fbad.e61c44",
        "name": "",
        "x": 175.5,
        "y": 85,
        "wires": [
            [
                "c78444c5.654a78"
            ]
        ]
    },
    {
        "id": "52809b61.24d0a4",
        "type": "catch",
        "z": "5299fbad.e61c44",
        "name": "",
        "scope": [
            "81773c5c.498b4"
        ],
        "x": 183.5,
        "y": 117,
        "wires": [
            [
                "39e1080.2584478"
            ]
        ]
    },
    {
        "id": "39e1080.2584478",
        "type": "change",
        "z": "5299fbad.e61c44",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 354.5,
        "y": 116,
        "wires": [
            [
                "c78444c5.654a78"
            ]
        ]
    },
    {
        "id": "2a9be3f.5c83c1c",
        "type": "inject",
        "z": "5299fbad.e61c44",
        "name": "Trigger restore",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 618.5,
        "y": 169,
        "wires": [
            []
        ]
    },
    {
        "id": "bc103ab7.5015a8",
        "type": "function",
        "z": "51087d13.23b624",
        "name": "Add Time",
        "func": "// Given a payload value adds the current time into this and passes it on\n// as a hash containing {x: current_time, y: payload}\nmsg.payload = {x: new Date(), y: msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "9a829cd6.73e87",
                "3ace838a.7ff1f4",
                "988e9c2.ea99ae",
                "e87cc044.4ba47"
            ]
        ]
    },
    {
        "id": "9a829cd6.73e87",
        "type": "ui_template",
        "z": "51087d13.23b624",
        "tab": "2a4c27e9.bd8ba8",
        "name": "chart.js 1",
        "group": "",
        "order": 9,
        "format": "<!--\nA node-red Dashboard UI template to draw charts using chart.js\nBefore use download the file Chart.bundle.min.js from chartjs.org and \nsave in an appropriate folder (e.g. .node-red/static). \nIn settings.js set httpStatic to the full path of that folder and restart node-red.\nMake sure that the options for 'Pass through messages' and 'Add output messages' \nin this node are cleared.\nFor basic use set the id and size you want in the canvas tag and set chartID to the id\nSetup chartDef as required for your chart (see the chart.js docs)\nIn addition, for each dataset specify in chartDef the message topic that you will use for that channel.\nTo (optionally) provide the chart with a one-off set of data send the node a message with:\nmsg.action = \"load\"\nmsg.payload = [\n{topic: \"mytopic1\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n{topic: \"mytopic2\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n...]\nWhere mytopic1 and mytopic2 are the the topics specified in the chartDef\n\nTo provide the chart with data incrementally (for a time series for example)\nsend it messages of the form\n{topic: \"mytopic1\", payload: {x:xvalue,y:yvalue}}\nThe chart will be updated as each sample is provided.\nTo limit the growth of the chart set chartMaxPoints and/or chartTimeSpan in the Chart Helper node\nas described at the head of that node.\nIf you find that chart seems to flicker and scroll bars come and go then try \nsetting a size other than auto in the Size specification for this node.\n\nFor Bar charts the x value is the label for the bar and the y value is the bar value\n\nNote that since the chart samples are stored in the browser then the chart will be cleared each\ntime the browser is refreshed (and will be clear on initially opening the view). In order to \nprovided persistency over browser opening and refresh this node may be used in conjunction with\nthe Chart Helper function node.  Details for its use are in the source of that node.\n\nIf your flow includes more that one instance of this script then the line fetching \nChart.bundle.min.js need only be included in one of them\n-->\n<script src=\"/Chart.bundle.min.js\"></script>\n<canvas id=\"myChart1\" width=\"300\" height=\"300\"></canvas>\n<script>\n(function() {\n    var chartID = \"myChart1\";           // set this to the id you have specified in the canvas tag above\n    // setup the chart definition as defined in the chart.js documentation, in addition setting up the topic\n    // for each channel\n    var chartDef = {\n        type: 'line',\n        data: {\n            datasets: [{\n                topic: \"Sin\",    // used here not by chart.js\n                label: \"Sin\",\n                yAxisID: \"1\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#0000ff\",\n                pointRadius: 0,\n                pointBorderColor: \"#0000ff\",\n                pointBackgroundColor: \"#0000ff\",\n                backgroundColor:  \"#0000ff\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }, {\n                topic: \"Cospcos3\",    // used here not by chart.js\n                label: \"Cospcos3\",\n                yAxisID: \"2\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#ff0000\",\n                pointRadius: 0,\n                pointBorderColor: \"#ff0000\",\n                pointBackgroundColor: \"#ff0000\",\n                backgroundColor:  \"#ff0000\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }]\n        },\n        options: {\n            scales: {\n                xAxes: [{\n                    type: 'time',\n                    time: {\n                        unit: 'minute',\n                        unitStepSize: 1,\n                        displayFormats: {\n                            minute: 'HH:mm'\n                        }\n                    }\n                }],\n                yAxes: [{\n                    id: \"1\",\n                    ticks: {\n                        min: -1,\n                        max: 1,\n                        stepSize: 0.2\n                    }\n                }, {\n                    id: \"2\",\n                    ticks: {\n                        min: -2,\n                        max: 2,\n                        stepSize: 0.4\n                    }\n                }]\n            },\n            animation: {\n                duration: 0\n            }\n        }\n    }\n        \n/***** You shouldn't normally need to change anything below here *****/    \n    var myChart = null;\n    var loaded = false;     // indicates whether we have already had a load action\n    var chartTimeSpan;\n    var chartMaxPoints;\n\n    function doChart(msg, scope) {\n        if (!myChart) {\n            // chart does not exist so load the data and create it\n            var ctx = document.getElementById(chartID);\n            myChart = new Chart(ctx, chartDef);     \n        }\n        // chart already exists, update it\n        var datasets = myChart.data.datasets;\n        // is this a load or preload action?\n        if (msg.action === \"load\" || msg.action === \"preload\") {\n            // yes, do not allow preload if we have already had a load\n            // so do it if this is a load or we have not previously had a load\n            if (msg.action === \"load\" || !loaded) {\n                // pick up chartTimeSpan and chartMaxPoints if they have been provided\n                if (typeof msg.chartTimeSpan != 'undefined') {\n                    chartTimeSpan = msg.chartTimeSpan;\n                }\n                if (typeof msg.chartMaxPoints != 'undefined') {\n                    chartMaxPoints = msg.chartMaxPoints;\n                }\n                    \n                // replace existing data for matching topics\n                for (var j = 0; j < msg.payload.length; j++) {\n                    var topic = msg.payload[j].topic;\n                    // find it in the chart\n                    for (var i = 0; i < datasets.length; i++) {\n                        if (datasets[i].topic == topic) {\n                            // if stripping old samples by time is required then ensure the x value is Date\n                            if (chartTimeSpan > 0 ) {\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    if (typeof data[k].x === \"string\") {\n                                        data[k].x = new Date(data[k].x);\n                                    }\n                                }\n                            }\n                            if (chartDef.type !== \"bar\") {\n                                datasets[i].data = msg.payload[j].data;\n                            } else {\n                                // bar chart so x values must go to labels and y values to dataset\n                                datasets[i].data = [];\n                                myChart.data.labels = [];\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    datasets[i].data.push(data[k].y);\n                                    myChart.data.labels.push(data[k].x);\n                                }\n                            }\n                            break;\n                        }\n                    }\n                }\n            }\n            if (msg.action === \"load\") loaded = true;\n            myChart.update();\n        } else {\n            // does the topic match one of the datasets?\n            for (var i = 0; i < datasets.length; i++) {\n                if (datasets[i].topic == msg.topic) {\n                    // if stripping old samples by time is required then ensure the x value is Date\n                    if (chartTimeSpan > 0 && typeof msg.payload.x === \"string\") {\n                        msg.payload.x = new Date(msg.payload.x);\n                    }\n                    if (chartDef.type !== \"bar\") {\n                        datasets[i].data.push(msg.payload);\n                    } else {\n                         // bar chart so x value must go to labels and y value to dataset\n                        datasets[i].data.push(msg.payload.y);\n                        myChart.data.labels.push(msg.payload.x);\n                    }\n                    myChart.update();\n                    break;\n                }\n            }\n        }\n        // strip off samples older than now\n        // charTimeSpan == 0 implies don't do it\n        var shifted = false;\n        if (chartTimeSpan > 0) {\n            var now = new Date();\n            var oldestTimeAllowed = now - chartTimeSpan;\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data[0] && getTime(dataset.data[0].x) < oldestTimeAllowed) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        // strip samples off the front if there are now too many\n        // charTimeSpan == 0 implies don't do it\n        if (chartMaxPoints > 0) {\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data.length > chartMaxPoints) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        if (shifted) {\n            myChart.update();\n        }\n    };\n\n    // gets the time of an x value, works for strings or Date types\n    function getTime(x) {\n        if (typeof x === \"string\") x = new Date(x);\n        return x.getTime();\n    }\n    \n    // builds the preload message for sending back to the chart helper\n    function preloadMsg() {\n        var preMsg = {action: \"preload\", payload: \"preload\"};\n        // build array of topics in chart\n        var topics = [];\n        for (var i=0; i<chartDef.data.datasets.length; i++) {\n            topics.push(chartDef.data.datasets[i].topic);\n        }\n        preMsg.topics = topics;\n        // has the chart already been created\n        if (myChart) {\n            preMsg.lastXValue = 1;\n        } else {\n            preMsg.lastXValue = 0;\n        }\n        return preMsg;\n    }\n\n    (function(scope) {\n        // this code gets run when the a view is opened on the node in the browser\n        // send a preload message back to node red to ask it send\n        // us a complete set of data. Pass down max points and time span to the helper node for it to use\n        // plus an array of the topics of interest\n        scope.send( preloadMsg() );\n        \n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                doChart(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "x": 741,
        "y": 227,
        "wires": [
            [
                "3ace838a.7ff1f4"
            ]
        ]
    },
    {
        "id": "3ace838a.7ff1f4",
        "type": "function",
        "z": "51087d13.23b624",
        "name": "Chart Helper",
        "func": "// A helper for the node-red chart.js template node\n// see the template node for the majority of the user defined data\n// here all that is needed is to setup values to limit the length of the chart\n// Firstly chartMaxPoints may be set non-zero and (for each channel) when the number\n// of points exceeds this value then the oldest samples will be discarded.\n// Alternatively (or in addition) if the x axis is time based then chartTimeSpan (milliseconds)\n// may be set and then old samples will be discarded to limit the chart to this time span.\n\nvar chartMaxPoints = 0;             //max no points in a chart before they drop off the left. Set to zero to disable\nvar chartTimeSpan = 4*60*1000;     //chart time span 4 mins. Set to zero to disable\n\n// ----------------------------------------------------------\n// You should not need to change anything below here\n\n// with inputs connected to the same nodes as a chart.js node this maintains a chart history\n// for preloading into the chart when it is opened in the browser\n\nvar topicsOfinterest = context.get('topicsOfInterest');    // can't use null here\nif (typeof topicsOfInterest == 'undefined') topicsOfInterest = null;\n\nvar msg2 = null;\nvar datasets = context.get('datasets') || [];\n// each dataset maps to a channel on the chart and consists of a hash with fields\n// topic: the topic name of the channel\n// data: an array of data points {x: x_value, y: y_value}\n// If msg.action == \"preload\" then the topic and payload are ignored and a message is passed\n// on containing the current chart data and msg.action still set to preload\n\nif (msg.action === \"preload\") {\n    // we should have been passed the topics of interest\n    topicsOfInterest = msg.topics;      // null if not provided\n    context.set('topicsOfInterest', topicsOfInterest);\n    // send a message containing the current chart data time range values, leave rest of msg as is\n    msg.payload = datasets;\n    msg.chartMaxPoints = chartMaxPoints;\n    msg.chartTimeSpan = chartTimeSpan;\n} else if (msg.action === \"restore\") {\n    // restoring from persistent memory\n    // step through the given datasets, if any\n    if (Array.isArray(msg.payload)) {\n        for (var i = 0; i < msg.payload.length; i++) {\n            topic = msg.payload[i].topic;\n            // find the matching topic\n            var found = false;\n            for (var k = 0; k < datasets.length; k++) {\n                if (datasets[k].topic == topic) {\n                    // insert the data in front of any that has been acquired since startup\n                    datasets[k].data = msg.payload[i].data.concat(datasets[k].data);\n                    found = true;\n                    break;\n                }\n            }\n            if (!found) {\n                // new topic so make a new dataset and fill it\n                datasets.push({topic: topic, data: msg.payload[i].data});\n            }\n        }\n    }\n    // remember that we have restored in order to enable future writes to persistent store\n    context.set(\"restored\", true);\n    // send a preload action to the chart\n    msg.action = \"preload\";\n    msg.payload = datasets;\n} else if (msg.action === \"load\") {\n    // replace existing data for matching topics\n    for (var j = 0; j < msg.payload.length; j++) {\n        var topic = msg.payload[j].topic;\n        // find it in the chart\n        var found = false;\n        for (var i = 0; i < datasets.length; i++) {\n            if (datasets[i].topic == topic) {\n                datasets[i].data = msg.payload[j].data;\n                found = true;\n                break;\n            }\n        }\n        if (!found) {\n            // new topic so make a new dataset and fill it\n            datasets.push({topic: topic, data: msg.payload[j].data});\n        }\n    }\n    msg = null;         // don't send anything on\n} else {\n    // check whether the topic is one we are interested in\n    if (topicsOfInterest === null  || topicsOfInterest.indexOf(msg.topic) >= 0) {\n        var found = false;\n        // find the right dataset if it already exists\n        for (var i = 0; i < datasets.length; i++) {\n            dataset = datasets[i];\n            if (dataset.topic == msg.topic) {\n                found = true;\n                dataset.data.push(msg.payload);\n                break;\n            }\n        }\n        if (!found) {\n            // new topic so make a new dataset\n            datasets.push({topic: msg.topic, data: [msg.payload]});\n        }\n    } else {\n        // ignore topics that are not of interest\n    }\n    // do not pass on a message to o/p 1, send the datasets to o/p 2 for persistent\n    // storage if required and we have been given data on startup\n    // this is to prevent the persistent store being overwritten before it has been read\n    msg = null;\n    if (context.get(\"restored\")) {\n        msg2 = {payload: datasets};\n    }\n}\n    \n// remove any points that are too old\nif (chartTimeSpan > 0) {\n    var now = new Date();\n    var oldestTimeAllowed = new Date();\n    oldestTimeAllowed.setTime(now.getTime() - (chartTimeSpan));\n    for (var i = 0; i < datasets.length; i++) {\n        var data = datasets[i].data;\n        while (data.length > 0 ) {\n            // convert the x value (in place) to a Date if it is a string\n            if (typeof data[0].x === \"string\") {\n                data[0].x = new Date(data[0].x);\n            }            \n            if (data[0].x < oldestTimeAllowed) {\n                data.shift();\n            } else {\n                break;\n            }\n        }\n    }\n}\n// strip samples off the front if there are now too many\n// charTimeSpan == 0 implies don't do it\nif (chartMaxPoints > 0) {\n    var shifted = false;\n    for (var i = 0; i < datasets.length; i++) {\n        var data = datasets[i].data;\n        while(data.length > chartMaxPoints) {\n            data.shift();\n        }\n    }\n}\ncontext.set('datasets', datasets);\nreturn [msg,msg2];\n\n",
        "outputs": "2",
        "noerr": 0,
        "x": 745,
        "y": 289,
        "wires": [
            [
                "9a829cd6.73e87"
            ],
            []
        ]
    },
    {
        "id": "299ca9b7.e84bd6",
        "type": "inject",
        "z": "51087d13.23b624",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 257.5,
        "y": 341,
        "wires": [
            [
                "230c63ac.5bc9c4",
                "5634f578.53aaac"
            ]
        ]
    },
    {
        "id": "230c63ac.5bc9c4",
        "type": "function",
        "z": "51087d13.23b624",
        "name": "Sin",
        "func": "msg.topic = \"Sin\";\nmsg.payload = Math.sin(msg.payload/(1000*3.142*4));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 407.5,
        "y": 319,
        "wires": [
            [
                "bc103ab7.5015a8"
            ]
        ]
    },
    {
        "id": "5634f578.53aaac",
        "type": "function",
        "z": "51087d13.23b624",
        "name": "Cospcos3",
        "func": "msg.topic = \"Cospcos3\";\nvar x = msg.payload/(1000*3.142*4)\nmsg.payload = Math.cos(x) + Math.cos(3*x);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 405,
        "y": 361,
        "wires": [
            [
                "bc103ab7.5015a8"
            ]
        ]
    },
    {
        "id": "988e9c2.ea99ae",
        "type": "ui_template",
        "z": "51087d13.23b624",
        "tab": "2a4c27e9.bd8ba8",
        "name": "chart.js 2",
        "group": "",
        "order": 9,
        "format": "<!--\nA node-red Dashboard UI template to draw charts using chart.js\nBefore use download the file Chart.bundle.min.js from chartjs.org and \nsave in an appropriate folder (e.g. .node-red/static). \nIn settings.js set httpStatic to the full path of that folder and restart node-red.\nMake sure that the options for 'Pass through messages' and 'Add output messages' \nin this node are cleared.\nFor basic use set the id and size you want in the canvas tag and set chartID to the id\nSetup chartDef as required for your chart (see the chart.js docs)\nIn addition, for each dataset specify in chartDef the message topic that you will use for that channel.\nTo (optionally) provide the chart with a one-off set of data send the node a message with:\nmsg.action = \"load\"\nmsg.payload = [\n{topic: \"mytopic1\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n{topic: \"mytopic2\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n...]\nWhere mytopic1 and mytopic2 are the the topics specified in the chartDef\n\nTo provide the chart with data incrementally (for a time series for example)\nsend it messages of the form\n{topic: \"mytopic1\", payload: {x:xvalue,y:yvalue}}\nThe chart will be updated as each sample is provided.\nTo limit the growth of the chart set chartMaxPoints and/or chartTimeSpan in the Chart Helper node\nas described at the head of that node.\nIf you find that chart seems to flicker and scroll bars come and go then try \nsetting a size other than auto in the Size specification for this node.\n\nFor Bar charts the x value is the label for the bar and the y value is the bar value\n\nNote that since the chart samples are stored in the browser then the chart will be cleared each\ntime the browser is refreshed (and will be clear on initially opening the view). In order to \nprovided persistency over browser opening and refresh this node may be used in conjunction with\nthe Chart Helper function node.  Details for its use are in the source of that node.\n\nIf your flow includes more that one instance of this script then the line fetching \nChart.bundle.min.js need only be included in one of them\n-->\n<!--script src=\"/Chart.bundle.min.js\"></script-->\n<canvas id=\"myChart2\" width=\"300\" height=\"300\"></canvas>\n<script>\n(function() {\n    var chartID = \"myChart2\";           // set this to the id you have specified in the canvas tag above\n    // setup the chart definition as defined in the chart.js documentation, in addition setting up the topic\n    // for each channel\n    var chartDef = {\n        type: 'line',\n        data: {\n            datasets: [{\n                topic: \"Sin\",    // used here not by chart.js\n                label: \"Sin\",\n                yAxisID: \"1\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#0000ff\",\n                pointRadius: 0,\n                pointBorderColor: \"#0000ff\",\n                pointBackgroundColor: \"#0000ff\",\n                backgroundColor:  \"#0000ff\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }, {\n                topic: \"Cospcos3\",    // used here not by chart.js\n                label: \"Cospcos3\",\n                yAxisID: \"2\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#ff0000\",\n                pointRadius: 0,\n                pointBorderColor: \"#ff0000\",\n                pointBackgroundColor: \"#ff0000\",\n                backgroundColor:  \"#ff0000\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }]\n        },\n        options: {\n            scales: {\n                xAxes: [{\n                    type: 'time',\n                    time: {\n                        unit: 'minute',\n                        unitStepSize: 5,\n                        displayFormats: {\n                            minute: 'HH:mm'\n                        }\n                    }\n                }],\n                yAxes: [{\n                    id: \"1\",\n                    ticks: {\n                        min: -1,\n                        max: 1,\n                        stepSize: 0.2\n                    }\n                }, {\n                    id: \"2\",\n                    ticks: {\n                        min: -2,\n                        max: 2,\n                        stepSize: 0.4\n                    }\n                }]\n            },\n            animation: {\n                duration: 0\n            }\n        }\n    }\n        \n/***** You shouldn't normally need to change anything below here *****/    \n    var myChart = null;\n    var loaded = false;     // indicates whether we have already had a load action\n    var chartTimeSpan;\n    var chartMaxPoints;\n\n    function doChart(msg, scope) {\n        if (!myChart) {\n            // chart does not exist so load the data and create it\n            var ctx = document.getElementById(chartID);\n            myChart = new Chart(ctx, chartDef);     \n        }\n        // chart already exists, update it\n        var datasets = myChart.data.datasets;\n        // is this a load or preload action?\n        if (msg.action === \"load\" || msg.action === \"preload\") {\n            // yes, do not allow preload if we have already had a load\n            // so do it if this is a load or we have not previously had a load\n            if (msg.action === \"load\" || !loaded) {\n                // pick up chartTimeSpan and chartMaxPoints if they have been provided\n                if (typeof msg.chartTimeSpan != 'undefined') {\n                    chartTimeSpan = msg.chartTimeSpan;\n                }\n                if (typeof msg.chartMaxPoints != 'undefined') {\n                    chartMaxPoints = msg.chartMaxPoints;\n                }\n                    \n                // replace existing data for matching topics\n                for (var j = 0; j < msg.payload.length; j++) {\n                    var topic = msg.payload[j].topic;\n                    // find it in the chart\n                    for (var i = 0; i < datasets.length; i++) {\n                        if (datasets[i].topic == topic) {\n                            // if stripping old samples by time is required then ensure the x value is Date\n                            if (chartTimeSpan > 0 ) {\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    if (typeof data[k].x === \"string\") {\n                                        data[k].x = new Date(data[k].x);\n                                    }\n                                }\n                            }\n                            if (chartDef.type !== \"bar\") {\n                                datasets[i].data = msg.payload[j].data;\n                            } else {\n                                // bar chart so x values must go to labels and y values to dataset\n                                datasets[i].data = [];\n                                myChart.data.labels = [];\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    datasets[i].data.push(data[k].y);\n                                    myChart.data.labels.push(data[k].x);\n                                }\n                            }\n                            break;\n                        }\n                    }\n                }\n            }\n            if (msg.action === \"load\") loaded = true;\n            myChart.update();\n        } else {\n            // does the topic match one of the datasets?\n            for (var i = 0; i < datasets.length; i++) {\n                if (datasets[i].topic == msg.topic) {\n                    // if stripping old samples by time is required then ensure the x value is Date\n                    if (chartTimeSpan > 0 && typeof msg.payload.x === \"string\") {\n                        msg.payload.x = new Date(msg.payload.x);\n                    }\n                    if (chartDef.type !== \"bar\") {\n                        datasets[i].data.push(msg.payload);\n                    } else {\n                         // bar chart so x value must go to labels and y value to dataset\n                        datasets[i].data.push(msg.payload.y);\n                        myChart.data.labels.push(msg.payload.x);\n                    }\n                    myChart.update();\n                    break;\n                }\n            }\n        }\n        // strip off samples older than now\n        // charTimeSpan == 0 implies don't do it\n        var shifted = false;\n        if (chartTimeSpan > 0) {\n            var now = new Date();\n            var oldestTimeAllowed = now - chartTimeSpan;\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data[0] && getTime(dataset.data[0].x) < oldestTimeAllowed) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        // strip samples off the front if there are now too many\n        // charTimeSpan == 0 implies don't do it\n        if (chartMaxPoints > 0) {\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data.length > chartMaxPoints) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        if (shifted) {\n            myChart.update();\n        }\n    };\n\n    // gets the time of an x value, works for strings or Date types\n    function getTime(x) {\n        if (typeof x === \"string\") x = new Date(x);\n        return x.getTime();\n    }\n    \n    // builds the preload message for sending back to the chart helper\n    function preloadMsg() {\n        var preMsg = {action: \"preload\", payload: \"preload\"};\n        // build array of topics in chart\n        var topics = [];\n        for (var i=0; i<chartDef.data.datasets.length; i++) {\n            topics.push(chartDef.data.datasets[i].topic);\n        }\n        preMsg.topics = topics;\n        // has the chart already been created\n        if (myChart) {\n            preMsg.lastXValue = 1;\n        } else {\n            preMsg.lastXValue = 0;\n        }\n        return preMsg;\n    }\n\n    (function(scope) {\n        // this code gets run when the a view is opened on the node in the browser\n        // send a preload message back to node red to ask it send\n        // us a complete set of data. Pass down max points and time span to the helper node for it to use\n        // plus an array of the topics of interest\n        scope.send( preloadMsg() );\n        \n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                doChart(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "x": 756,
        "y": 433,
        "wires": [
            [
                "e87cc044.4ba47"
            ]
        ]
    },
    {
        "id": "e87cc044.4ba47",
        "type": "function",
        "z": "51087d13.23b624",
        "name": "Chart Helper",
        "func": "// A helper for the node-red chart.js template node\n// see the template node for the majority of the user defined data\n// here all that is needed is to setup values to limit the length of the chart\n// Firstly chartMaxPoints may be set non-zero and (for each channel) when the number\n// of points exceeds this value then the oldest samples will be discarded.\n// Alternatively (or in addition) if the x axis is time based then chartTimeSpan (milliseconds)\n// may be set and then old samples will be discarded to limit the chart to this time span.\n\nvar chartMaxPoints = 0;             //max no points in a chart before they drop off the left. Set to zero to disable\nvar chartTimeSpan = 20*60*1000;     //chart time span 20 mins. Set to zero to disable\n\n// ----------------------------------------------------------\n// You should not need to change anything below here\n\n// with inputs connected to the same nodes as a chart.js node this maintains a chart history\n// for preloading into the chart when it is opened in the browser\n\nvar topicsOfinterest = context.get('topicsOfInterest');    // can't use null here\nif (typeof topicsOfInterest == 'undefined') topicsOfInterest = null;\n\nvar msg2 = null;\nvar datasets = context.get('datasets') || [];\n// each dataset maps to a channel on the chart and consists of a hash with fields\n// topic: the topic name of the channel\n// data: an array of data points {x: x_value, y: y_value}\n// If msg.action == \"preload\" then the topic and payload are ignored and a message is passed\n// on containing the current chart data and msg.action still set to preload\n\nif (msg.action === \"preload\") {\n    // we should have been passed the topics of interest\n    topicsOfInterest = msg.topics;      // null if not provided\n    context.set('topicsOfInterest', topicsOfInterest);\n    // send a message containing the current chart data time range values, leave rest of msg as is\n    msg.payload = datasets;\n    msg.chartMaxPoints = chartMaxPoints;\n    msg.chartTimeSpan = chartTimeSpan;\n} else if (msg.action === \"restore\") {\n    // restoring from persistent memory\n    // step through the given datasets, if any\n    if (Array.isArray(msg.payload)) {\n        for (var i = 0; i < msg.payload.length; i++) {\n            topic = msg.payload[i].topic;\n            // find the matching topic\n            var found = false;\n            for (var k = 0; k < datasets.length; k++) {\n                if (datasets[k].topic == topic) {\n                    // insert the data in front of any that has been acquired since startup\n                    datasets[k].data = msg.payload[i].data.concat(datasets[k].data);\n                    found = true;\n                    break;\n                }\n            }\n            if (!found) {\n                // new topic so make a new dataset and fill it\n                datasets.push({topic: topic, data: msg.payload[i].data});\n            }\n        }\n    }\n    // remember that we have restored in order to enable future writes to persistent store\n    context.set(\"restored\", true);\n    // send a preload action to the chart\n    msg.action = \"preload\";\n    msg.payload = datasets;\n} else if (msg.action === \"load\") {\n    // replace existing data for matching topics\n    for (var j = 0; j < msg.payload.length; j++) {\n        var topic = msg.payload[j].topic;\n        // find it in the chart\n        var found = false;\n        for (var i = 0; i < datasets.length; i++) {\n            if (datasets[i].topic == topic) {\n                datasets[i].data = msg.payload[j].data;\n                found = true;\n                break;\n            }\n        }\n        if (!found) {\n            // new topic so make a new dataset and fill it\n            datasets.push({topic: topic, data: msg.payload[j].data});\n        }\n    }\n    msg = null;         // don't send anything on\n} else {\n    // check whether the topic is one we are interested in\n    if (topicsOfInterest === null  || topicsOfInterest.indexOf(msg.topic) >= 0) {\n        var found = false;\n        // find the right dataset if it already exists\n        for (var i = 0; i < datasets.length; i++) {\n            dataset = datasets[i];\n            if (dataset.topic == msg.topic) {\n                found = true;\n                dataset.data.push(msg.payload);\n                break;\n            }\n        }\n        if (!found) {\n            // new topic so make a new dataset\n            datasets.push({topic: msg.topic, data: [msg.payload]});\n        }\n    } else {\n        // ignore topics that are not of interest\n    }\n    // do not pass on a message to o/p 1, send the datasets to o/p 2 for persistent\n    // storage if required and we have been given data on startup\n    // this is to prevent the persistent store being overwritten before it has been read\n    msg = null;\n    if (context.get(\"restored\")) {\n        msg2 = {payload: datasets};\n    }\n}\n    \n// remove any points that are too old\nif (chartTimeSpan > 0) {\n    var now = new Date();\n    var oldestTimeAllowed = new Date();\n    oldestTimeAllowed.setTime(now.getTime() - (chartTimeSpan));\n    for (var i = 0; i < datasets.length; i++) {\n        var data = datasets[i].data;\n        while (data.length > 0 ) {\n            // convert the x value (in place) to a Date if it is a string\n            if (typeof data[0].x === \"string\") {\n                data[0].x = new Date(data[0].x);\n            }            \n            if (data[0].x < oldestTimeAllowed) {\n                data.shift();\n            } else {\n                break;\n            }\n        }\n    }\n}\n// strip samples off the front if there are now too many\n// charTimeSpan == 0 implies don't do it\nif (chartMaxPoints > 0) {\n    var shifted = false;\n    for (var i = 0; i < datasets.length; i++) {\n        var data = datasets[i].data;\n        while(data.length > chartMaxPoints) {\n            data.shift();\n        }\n    }\n}\ncontext.set('datasets', datasets);\nreturn [msg,msg2];\n\n",
        "outputs": "2",
        "noerr": 0,
        "x": 757,
        "y": 501,
        "wires": [
            [
                "988e9c2.ea99ae"
            ],
            [
                "25603d6.a073142"
            ]
        ]
    },
    {
        "id": "25603d6.a073142",
        "type": "delay",
        "z": "51087d13.23b624",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "6",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 971,
        "y": 507,
        "wires": [
            [
                "f7c770ca.78f12"
            ]
        ]
    },
    {
        "id": "f7c770ca.78f12",
        "type": "file",
        "z": "51087d13.23b624",
        "name": "",
        "filename": "/home/pi/Desktop/chart_1",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 989,
        "y": 606,
        "wires": []
    },
    {
        "id": "dda1b39a.4eb08",
        "type": "subflow:5299fbad.e61c44",
        "z": "51087d13.23b624",
        "x": 539,
        "y": 546,
        "wires": [
            [
                "e87cc044.4ba47"
            ],
            [
                "84265260.d862a"
            ]
        ]
    },
    {
        "id": "84265260.d862a",
        "type": "file in",
        "z": "51087d13.23b624",
        "name": "",
        "filename": "/home/pi/Desktop/chart_1",
        "format": "utf8",
        "sendError": true,
        "x": 502,
        "y": 604,
        "wires": [
            [
                "dda1b39a.4eb08"
            ]
        ]
    },
    {
        "id": "ba30b112.9f193",
        "type": "comment",
        "z": "51087d13.23b624",
        "name": "Read me",
        "info": "This charting example extends node-red-dashboard and the work by Colin Law here:\nhttp://flows.nodered.org/flow/c3dc75c47323a2754f5285225bce64b5\n\nView the chart at http://localhost:1880/ui\n\nBoth the dashboard chart and Colin's example uses time as the X-axis. The example\nhere uses an integer as the x-axis. Colin's example uses Chart.js inside a\nnode-red-dashboard template node. The example here leaves Colin's code almost \nunchanged except that the chart.js XAxis is changed from:\n\n                xAxes: [{\n                    type: 'time',\n                    time: {\n                        unit: 'minute',\n                        unitStepSize: 1,\n                        displayFormats: {\n                            minute: 'HH:mm'\n                        }\n                    }\n                }],\n\nto this:\n              xAxes: [{\n                    type: 'linear',\n                    position: 'bottom'\n                    }\n                ],\n                \nI also adjusted the way the nodes are rendered.\n\nThis example pre-prepares the data object and uses the msg.action = \"load\" \nmethod to ask the template code to render the data. \n\nA dashboard button on the UI page generates fresh data with a different \nscale each time.\n\n\n",
        "x": 240,
        "y": 760,
        "wires": []
    },
    {
        "id": "9210e553.71f2a",
        "type": "ui_template",
        "z": "51087d13.23b624",
        "tab": "2a4c27e9.bd8ba8",
        "name": "Chart.js example",
        "group": "",
        "order": 9,
        "format": "<!-- See the read me comment node. Colin Law's original notes follow -->\n\n<!--\nA node-red Dashboard UI template to draw charts using chart.js\nBefore use download the file Chart.bundle.min.js from chartjs.org and \nsave in an appropriate folder (e.g. .node-red/static). \nIn settings.js set httpStatic to the full path of that folder and restart node-red.\nMake sure that the options for 'Pass through messages' and 'Add output messages' \nin this node are cleared.\nFor basic use set the id and size you want in the canvas tag and set chartID to the id\nSetup chartDef as required for your chart (see the chart.js docs)\nIn addition, for each dataset specify in chartDef the message topic that you will use for that channel.\nTo (optionally) provide the chart with a one-off set of data send the node a message with:\nmsg.action = \"load\"\nmsg.payload = [\n{topic: \"mytopic1\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n{topic: \"mytopic2\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n...]\nWhere mytopic1 and mytopic2 are the the topics specified in the chartDef\n\nTo provide the chart with data incrementally (for a time series for example)\nsend it messages of the form\n{topic: \"mytopic1\", payload: {x:xvalue,y:yvalue}}\nThe chart will be updated as each sample is provided.\nTo limit the growth of the chart set chartMaxPoints and/or chartTimeSpan in the Chart Helper node\nas described at the head of that node.\nIf you find that chart seems to flicker and scroll bars come and go then try \nsetting a size other than auto in the Size specification for this node.\n\nFor Bar charts the x value is the label for the bar and the y value is the bar value\n\nNote that since the chart samples are stored in the browser then the chart will be cleared each\ntime the browser is refreshed (and will be clear on initially opening the view). In order to \nprovided persistency over browser opening and refresh this node may be used in conjunction with\nthe Chart Helper function node.  Details for its use are in the source of that node.\n\nIf your flow includes more that one instance of this script then the line fetching \nChart.bundle.min.js need only be included in one of them\n-->\n\n<script src=\"/Chart.bundle.min.js\"></script>\n<canvas id=\"myChartSimple1\" width=\"300\" height=\"300\"></canvas>\n<script>\n(function() {\n    var chartID = \"myChartSimple1\";           // set this to the id you have specified in the canvas tag above\n    // setup the chart definition as defined in the chart.js documentation, in addition setting up the topic\n    // for each channel\n    var chartDef = {\n        type: 'line',\n        data: {\n            datasets: [{\n                topic: \"Sin\",    // used here not by chart.js\n                label: \"Sin\",\n                yAxisID: \"1\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#0000ff\",\n                pointRadius: 5,\n                pointHoverRadius: 5,\n                pointBorderColor: \"#0000ff\",\n                pointBackgroundColor: \"#0000ff\",\n                backgroundColor:  \"#0000ff\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }, {\n                topic: \"Triangle\",    // used here not by chart.js\n                label: \"Triangle\",\n                yAxisID: \"2\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#ff0000\",\n                pointRadius: 5,\n                pointHoverRadius: 5,\n                pointBorderColor: \"#ff0000\",\n                pointBackgroundColor: \"#ff0000\",\n                backgroundColor:  \"#ff0000\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }]\n        },\n        options: {\n            scales: {\n                xAxes: [{\n                    type: 'linear',\n                    position: 'bottom'\n                    }\n                ],\n                yAxes: [{\n                    id: \"1\",\n                    ticks: {\n                        min: -1,\n                        max: 1,\n                        stepSize: 0.2\n                    }\n                }, {\n                    id: \"2\",\n                    ticks: {\n                        min: -10,\n                        max: 10,\n                        stepSize: 2\n                    }\n                }]\n            },\n            animation: {\n                duration: 0\n            }\n        }\n    }\n        \n/***** You shouldn't normally need to change anything below here *****/    \n    var myChart = null;\n    var loaded = false;     // indicates whether we have already had a load action\n    var chartTimeSpan;\n    var chartMaxPoints;\n\n    function doChart(msg, scope) {\n        if (!myChart) {\n            // chart does not exist so load the data and create it\n            var ctx = document.getElementById(chartID);\n            myChart = new Chart(ctx, chartDef);     \n        }\n        // chart already exists, update it\n        var datasets = myChart.data.datasets;\n        // is this a load or preload action?\n        if (msg.action === \"load\" || msg.action === \"preload\") {\n            // yes, do not allow preload if we have already had a load\n            // so do it if this is a load or we have not previously had a load\n            if (msg.action === \"load\" || !loaded) {\n                // pick up chartTimeSpan and chartMaxPoints if they have been provided\n                if (typeof msg.chartTimeSpan != 'undefined') {\n                    chartTimeSpan = msg.chartTimeSpan;\n                }\n                if (typeof msg.chartMaxPoints != 'undefined') {\n                    chartMaxPoints = msg.chartMaxPoints;\n                }\n                    \n                // replace existing data for matching topics\n                for (var j = 0; j < msg.payload.length; j++) {\n                    var topic = msg.payload[j].topic;\n                    // find it in the chart\n                    for (var i = 0; i < datasets.length; i++) {\n                        if (datasets[i].topic == topic) {\n                            // if stripping old samples by time is required then ensure the x value is Date\n                            if (chartTimeSpan > 0 ) {\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    if (typeof data[k].x === \"string\") {\n                                        data[k].x = new Date(data[k].x);\n                                    }\n                                }\n                            }\n                            if (chartDef.type !== \"bar\") {\n                                datasets[i].data = msg.payload[j].data;\n                            } else {\n                                // bar chart so x values must go to labels and y values to dataset\n                                datasets[i].data = [];\n                                myChart.data.labels = [];\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    datasets[i].data.push(data[k].y);\n                                    myChart.data.labels.push(data[k].x);\n                                }\n                            }\n                            break;\n                        }\n                    }\n                }\n            }\n            if (msg.action === \"load\") loaded = true;\n            myChart.update();\n        } else {\n            // does the topic match one of the datasets?\n            for (var i = 0; i < datasets.length; i++) {\n                if (datasets[i].topic == msg.topic) {\n                    // if stripping old samples by time is required then ensure the x value is Date\n                    if (chartTimeSpan > 0 && typeof msg.payload.x === \"string\") {\n                        msg.payload.x = new Date(msg.payload.x);\n                    }\n                    if (chartDef.type !== \"bar\") {\n                        datasets[i].data.push(msg.payload);\n                    } else {\n                         // bar chart so x value must go to labels and y value to dataset\n                        datasets[i].data.push(msg.payload.y);\n                        myChart.data.labels.push(msg.payload.x);\n                    }\n                    myChart.update();\n                    break;\n                }\n            }\n        }\n        // strip off samples older than now\n        // charTimeSpan == 0 implies don't do it\n        var shifted = false;\n        if (chartTimeSpan > 0) {\n            var now = new Date();\n            var oldestTimeAllowed = now - chartTimeSpan;\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data[0] && getTime(dataset.data[0].x) < oldestTimeAllowed) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        // strip samples off the front if there are now too many\n        // charTimeSpan == 0 implies don't do it\n        if (chartMaxPoints > 0) {\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data.length > chartMaxPoints) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        if (shifted) {\n            myChart.update();\n        }\n    };\n\n    // gets the time of an x value, works for strings or Date types\n    function getTime(x) {\n        if (typeof x === \"string\") x = new Date(x);\n        return x.getTime();\n    }\n    \n    // builds the preload message for sending back to the chart helper\n    function preloadMsg() {\n        var preMsg = {action: \"preload\", payload: \"preload\"};\n        // build array of topics in chart\n        var topics = [];\n        for (var i=0; i<chartDef.data.datasets.length; i++) {\n            topics.push(chartDef.data.datasets[i].topic);\n        }\n        preMsg.topics = topics;\n        // has the chart already been created\n        if (myChart) {\n            preMsg.lastXValue = 1;\n        } else {\n            preMsg.lastXValue = 0;\n        }\n        return preMsg;\n    }\n\n    (function(scope) {\n        // this code gets run when the a view is opened on the node in the browser\n        // send a preload message back to node red to ask it send\n        // us a complete set of data. Pass down max points and time span to the helper node for it to use\n        // plus an array of the topics of interest\n        scope.send( preloadMsg() );\n        \n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                doChart(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "x": 736.5499572753906,
        "y": 883.8833312988281,
        "wires": [
            []
        ]
    },
    {
        "id": "61732618.a6772",
        "type": "debug",
        "z": "51087d13.23b624",
        "name": "View data object",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 734.0000305175781,
        "y": 943.1333312988281,
        "wires": []
    },
    {
        "id": "dcf0519f.f75b98",
        "type": "inject",
        "z": "51087d13.23b624",
        "name": "Load Data Set",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 273.99998474121094,
        "y": 828.3833312988281,
        "wires": [
            [
                "669c4cee.1d20a4"
            ]
        ]
    },
    {
        "id": "669c4cee.1d20a4",
        "type": "function",
        "z": "51087d13.23b624",
        "name": "Pre-load test data",
        "func": "\n/* This function creates a two data sets, with different topics,\n   the same x values and different y values*/\n\n// Change the scale factor each time.\nvar scale = context.get('scale') || 0;\nif (msg.topic == \"Reset\") {\n    scale = 0;\n}\nscale++;\ncontext.set('scale', scale);\n\nmsg.payload = [];       // This will be an array of {topic, data} objects\nvar dataPoints1 = [];   // These will be the first array of data points \nvar dataPoints2 = [];   // These will be the second array of data points \nvar numPoints = 20;     // We will create one more than this.\n\n// For the first data set create a sine wave\nfor (var i=0; i<=numPoints; i++) {\n    var point = {};\n    point.x = i;\n    point.y = Math.sin(2 * 3.14 * (i/numPoints)) * scale/10;\n    // build the data array    \n    dataPoints1.push(point);\n}\n\n// For the second data set create a triangle\nfor (var i=0; i<=numPoints; i++) {\n    var point = {};\n    point.x = i;\n    if (i<(numPoints/2)) {\n        // ramp up\n        point.y = i * scale/10;\n    }\n    else {\n        // ramp down\n        point.y = (numPoints - i) * scale/10;\n    }\n    dataPoints2.push(point);    // add to the array\n}\n\nmsg.action = \"load\";    // This instructs the chart node to paint the data\n\n// The payload is an array of two {topic, data} objects\nmsg.payload = [{topic: \"Sin\", data: dataPoints1},\n                {topic: \"Triangle\", data: dataPoints2}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 515,
        "y": 884.5333251953125,
        "wires": [
            [
                "9210e553.71f2a",
                "61732618.a6772"
            ]
        ]
    },
    {
        "id": "da2a006d.5816f8",
        "type": "ui_button",
        "z": "51087d13.23b624",
        "tab": "2a4c27e9.bd8ba8",
        "name": "New Data Button",
        "payload": "",
        "topic": "",
        "group": "",
        "order": 0,
        "x": 261.99998474121094,
        "y": 886.1833343505859,
        "wires": [
            [
                "669c4cee.1d20a4"
            ]
        ]
    },
    {
        "id": "ec14ff97.11aa",
        "type": "ui_button",
        "z": "51087d13.23b624",
        "tab": "2a4c27e9.bd8ba8",
        "name": "Reset",
        "payload": "",
        "topic": "Reset",
        "group": "",
        "order": 0,
        "x": 298,
        "y": 941.1833190917969,
        "wires": [
            [
                "669c4cee.1d20a4"
            ]
        ]
    }
]